body {
		background-image:url("fon.jpg");
		color: black;
		font-size: 1.3em;
	      }
   	h1 {
	 	color: white;
		font-size:50px;
		font-weight:900;
		font-family:"Arial";
		text-align: left;
 		}
	b {
		color: white;
		font-size:30pt;
		font-family: "Arial";
		font-style: normal;
		}
	b1 {
		color: white;
 		font-size:20pt;
}
	img {
		border-radius: 20px;
}
	#intro {
		font-size: 1.5em;
    		}
	.colorful {
 		color:blue;
		}
#menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;

      }
      #menu li {
        border-left: 10px solid #444;
        border-bottom: 1px solid #444;
	float:left;
	margin-right:20px;
	width: 100%
      }
      #menu a {
        background-color: black;
        color: #fff;
        padding: 30px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid blue;
        display: block;
	width: 100%

.gradient-text {
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg,magenta,blue,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}
::-webkit-scrollbar {
   width: 15px;
   height: 10px;
   background-color: #ffb6c1;
}
::-webkit-scrollbar-thumb {
 	background-color: #4b0082;
	border-radius:10em;
	box-shadow: inset 2px 2px 10px #bbbbbb;
}



