
body {
		background-image:url("fon_news.jpg");
		color: black;
		font-size: 1.3em;
	      }
   	h1 {
	 	color: #8a7f8e;
		font-size:250%;
		font-weight:900;
		font-family:"Comic Sans MS";
		text-align: center;
 		}
	b {
		color: yellow;
		font-size:30pt;
		font-family: "Comic Sans MS";
		font-style: normal;
		}
	b1 {
		color: #a9203e;
 		font-size:25pt;
		font-family: "Comic Sans MS";
		font-style: normal;
}
	img {
		border-radius: 20px;
}
	#intro {
		font-size: 1.5em;
    		}
	.colorful {
 		color:blue;
		}
#menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;

      }
      #menu li {
        border-left: 10px solid #6495ed;
        border-bottom: 1px solid #6495ed;
	float:left;
	margin-right:20px;
	width: 100%
      }
      #menu a {
        background-color: #f2e8c9;
        color: #black;
        padding: 30px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid #FCC7C3;
        display: block;
	width: 100%

.gradient-text {
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg,magenta,blue,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}



